@page "/"
@using WpfIssue.Services

<PageTitle>Home</PageTitle>

<h1>Hello, world! @SomeScope.Id</h1>

Welcome to your new app.

<button @onclick="OnCloseAsync">Close Window</button>

@code {
    [CascadingParameter] public SomeScope SomeScope { get; set; } = null!;

    [CascadingParameter] public IBackButtonHandler BackButtonHandler { get; set; } = null!;

    private Task OnCloseAsync()
    {
        return BackButtonHandler.HandleBackAsync();
    }
}