@page "/"


<PageTitle>Home</PageTitle>

Welcome to your new app.
@if (_loading)
{
    <p>Loading...</p>
    <p>Close the window while loading...</p>
}
else
{
    <p>done</p>
}

@code{
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _ = BackgroundWork();
    }

    private async Task BackgroundWork()
    {
        _loading = true;
        await InvokeAsync(StateHasChanged);
        try
        {
            await Task.Delay(5000);
        }
        finally
        {
            _loading = false;
            await InvokeAsync(StateHasChanged);
        }
    }
}
