@page "/"


<PageTitle>Home</PageTitle>

Welcome to your new app.
@if (_loading)
{
    <p>Loading...</p>
    <p>Close the window while loading...</p>
}
else
{
    <p>done</p>
}

@code{
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _ = BackgroundWork();
    }

    private async Task BackgroundWork()
    {
        _loading = true;
        await InvokeAsync(StateHasChanged);

        try
        {
            await Task.Delay(5000);

            /*
             * Exception behavior depends on:
             * 1. Whether an exception is thrown here
             * 2. Whether DisposeAsync() is called in App.xaml.cs
             *
             * Scenarios:
             *
             * A) Exception thrown + DispatchExceptionAsync used:
             *    - DisposeAsync() NOT called:
             *        -> "WebView2 control is Disposed" exception
             *    - DisposeAsync() called:
             *        -> "Renderer does not have a component with ID XX"
             *
             * B) NO exception thrown:
             *    - DisposeAsync() NOT called:
             *        -> "WebView2 control is Disposed" exception
             *    - DisposeAsync() called:
             *        -> No exception (rare race condition observed occasionally)
             */

            throw new Exception("Exception");
        }
        catch (Exception exception)
        {
            await DispatchExceptionAsync(exception);
        }
        finally
        {
            _loading = false;
            await InvokeAsync(StateHasChanged);
        }
    }
}
